body {
    margin: 0;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}


h2 {
    font-size: 2.5rem;
    font-weight: normal;
    padding: 10px;
}

h3 {
    color: #D96098;
}

img {
    border-radius: 50%;
}

p {
    line-height: 2;
}

a {
    font-family: 'Work Sans', sans-serif;
    margin: 10px 20px 10px;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #D96098;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    color: #325288;
}

li::marker {
    color: #D96098;
}

.name {
    margin: 190px auto 0 auto;
    font-family: 'Comforter', cursive;
    font-size: 5.625rem;
    color: #FAEEE7;
    line-height: 2;
}

.hello {
    padding: 0;
}

.greetings {
    display: inline-block;
    width: 40%;
    margin: 0 20px 100px;

}

.skills-title {
    padding-top: 50px;
}

.copyright {
    font-size: 0.75rem;
    padding: 20px 0;
}

.subtitle {
    font-size: 2.5rem;
    color: #FAEEE7;
    font-weight: normal;
    /* width: 30%; */
    margin: auto;
}

/* containers */

.top-container {
    background-color: #24A19C;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #24A19C;
    margin-top: 5.625rem;
    padding: 50px 0 5px;

}

.resume-container {
    margin-top: 5.625rem;
    padding: 15px 0 15px;
}

.pro {
    text-decoration: double;
}

.gamer {
    text-decoration: line-through;
    color: grey;
}

.top-Image {
    position: absolute;
    right: 20%;
    top: 5%;
}

.bottomImage {
    position: absolute;
    left: 20%;
    bottom: 70%;
}

/* skills */

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.mountain-img {
    width: 29%;
}

.stack-img {
    width: 25%;
    float: left;
    padding-right: 30px;
}

.gameImg {
    width: 30%;
    float: right;
    padding: 20px 30px 0 0;
}

.project-Img {
    width: 25%;
    float: left;
    padding-right: 5%;
    transition: transform 0.4s cubic-bezier(0.25, 1.5, 0.5, 1);
}

.project-Img:hover {
    transform: scale(1.25);
}

.project-list {
  list-style: none;
  padding: 0;
  counter-reset: project-counter;
}

.project-item {
  margin-bottom: 2rem;
}
.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff; /* or your preferred color */
  text-decoration: none;
  margin: 0;
}
.project-description {
  margin-left: calc(80px + 1rem); /* match the image width + gap */
  margin-top: 0.5rem;
}


.btn {
    background: #24A19C;
    background-image: -webkit-linear-gradient(top, #24A19C, #215270);
    background-image: -moz-linear-gradient(top, #24A19C, #215270);
    background-image: -ms-linear-gradient(top, #24A19C, #215270);
    background-image: -o-linear-gradient(top, #24A19C, #215270);
    background-image: linear-gradient(to bottom, #24A19C, #215270);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    font-size: 28px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #325288;
    background-image: -webkit-linear-gradient(top, #325288, #D96098);
    background-image: -moz-linear-gradient(top, #325288, #D96098);
    background-image: -ms-linear-gradient(top, #325288, #D96098);
    background-image: -o-linear-gradient(top, #325288, #D96098);
    background-image: linear-gradient(to bottom, #325288, #D96098);
    text-decoration: none;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.split {
    clear: both;
}

.footer-link:hover {
 box-shadow: inset 180px 0 0 0 #D96098;
  color: white;
}

@media (max-width: 753px) {
    body {
        font-size: 20px;
        font-weight: 400;
        display: inline-block;

    }
    .profile {
        font-size: 20px;
    }
    .profilepic{
        width: 80%;
    }
    .gameImg {
        width: 40%;
    }
    .project-Img {
        
        width: 30%;
       margin-top: 10%;
    }
    .subtitle {
        text-align: center;
    }
    .contact-me {
        width: 70%;
    }
    .gamer {
        text-align: center;
    }
}

/* colors */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }
    h2 {
        color: #FAEEE7;
    }
    p {
        color: #54BAB9;
    }
    ol ul {
        padding: 0%;
    }
    li {
        color: #54BAB9;
        padding-top: 0.3rem;
        
    }
    ol > li{
        padding-bottom: 10%;
    }
    a {
        color: #FAEEE7;
    }
    .top-container {
        background-color: #041C32;
    }
    .bottom-container, .resume-container{
        background-color: #041C32;
    }
    .name{
        color: #FAEEE7;
    }
    .subtitle{
        color: #FAEEE7;
    }
    .projects{
        color: #FAEEE7;
    }
  }
  @media (prefers-color-scheme: light) {
    body {
        background-color: #FAEEE7;
    }
    h2 {
        color: #24A19C;
    }
    p {
        color: #325288;
    }
    a {
        color: #FAEEE7;
    }
    .top-container {
        background-color: #24A19C;
    }
    .bottom-container .resume-container{
        background-color: #24A19C;
    }
    .name{
        color: #FAEEE7;
    }
    .subtitle{
        color: #FAEEE7;
    }
  }
  