html {
    scroll-behavior: smooth;
  }
  
body {
    margin: 0;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    padding: 10px;
}

h3 {
    color: #D96098;
}

img {
    border-radius: 50%;
}

p {
    line-height: 2;
}

a {
    font-family: 'Work Sans', sans-serif;
    margin: 10px 5px 10px;
    text-decoration: none;
}

a:hover {
    color: #FAEEE7;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    color: #325288;
}
/*new additions*/
#menubar-items-container
{
	min-width: 50px;
    padding: 5px 0 0 2px;
}
.menubar-item
{
	display: inline-flex;
    padding: 5px;
	color: white;
	transition: all 0.3s ease 0s;
}

.menubar-item:hover
{
	cursor:pointer;
    background-color: #24A19C;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;

}

.menubar-item-text
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
}
.header-container {
    width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 66px;
	z-index: 1;
	min-width: 292px;
	display: flex;
}
.header-contents {
    background-color: #000000;
	opacity: 0.6;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
    z-index: -1;
}
.video {
    position: relative; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, 0%);
    opacity: 1; 
    width: 100%; 
    z-index: -1; 
    pointer-events: none;
}

.name {
    margin: 0 auto auto auto;
    font-family: 'Comforter', cursive;
    font-size: 5.625rem;
    color: #FAEEE7;
    line-height: 2;
}
.name-header{
 	 font-family: 'Abel', sans-serif;
     float: left;
     margin: 10px 0 0 0;
     font-size: 2rem;
     margin-left: 8px;
     min-width: 200px;
     color: #FAEEE7;   
}
.name-header:hover{

}

.hello {
    padding: 0;
}

.greetings {
    width: 100%;
	display: block;
	overflow: hidden;
    /*display: inline-block;
    width: 40%;
    margin: 0 20px 100px;*/

}

.skillsTitle {
    padding-top: 50px;
}

.copyright {
    font-size: 0.75rem;
    padding: 20px 0;
}

.subtitle {
    font-size: 2.5rem;
    color: #FAEEE7;
    font-weight: normal;
    /* width: 30%; */
    margin: auto;
}

/* containers */

.top-container {
    background-color: #24A19C;
    position: relative;
    padding-top: 0px;
    opacity: 50%;
}
.top2-container{
    background-color:  #041C32;
    position: relative;
    padding: 0px 0px 30px;
}

.middle-container {
    margin: 100px;
    opacity: 100%;
    padding: 0px 0px 30px
}

.bottom-container {
    background-color: #24A19C;
    margin-top: 5.625rem;
    padding: 50px 0 5px;

}

.pro {
    text-decoration: double;
}

.gamer {
    text-decoration: line-through;
    color: grey;
}

.topCloud {
    position: absolute;
    right: 20%;
    top: 5%;
    z-index: -2;
}

.bottomCloud{
    position: absolute;
    left: 20%;
    bottom: 70%;
    z-index: -2;
}

/* skills */

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.mountain-img {
    position: absolute;
    transform: translate(-50%, -110%);
    z-index: -2;
}

.stackImg {
    width: 25%;
    float: left;
    padding-right: 30px;
}

.gameImg {
    width: 30%;
    float: right;
    padding: 20px 30px 0 0;
}

.btn {
    background: #24A19C;
    background-image: -webkit-linear-gradient(top, #24A19C, #215270);
    background-image: -moz-linear-gradient(top, #24A19C, #215270);
    background-image: -ms-linear-gradient(top, #24A19C, #215270);
    background-image: -o-linear-gradient(top, #24A19C, #215270);
    background-image: linear-gradient(to bottom, #24A19C, #215270);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    font-size: 28px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #325288;
    background-image: -webkit-linear-gradient(top, #325288, #D96098);
    background-image: -moz-linear-gradient(top, #325288, #D96098);
    background-image: -ms-linear-gradient(top, #325288, #D96098);
    background-image: -o-linear-gradient(top, #325288, #D96098);
    background-image: linear-gradient(to bottom, #325288, #D96098);
    text-decoration: none;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.split {
    clear: both;
}

@media (max-width: 753px) {
    body {
        font-size: 20px;
        font-weight: 400;
        display: inline-block;

    }
    .profile {
        font-size: 20px;
    }
    .gameImg {
        width: 40%;
    }
    .subtitle {
        text-align: center;
    }
    .contact-me {
        width: 70%;
    }
    .gamer {
        text-align: center;
    }
}
/*social container */
#social-container
{
	position: absolute;
	float: right;
}

#social-links
{
	display: inline-block;
}

.social-icon
{
	padding-left: 12px;
	padding-right: 12px;
	color: white;
	opacity: 0.6;
	font-size: 40px;
	position: relative;
	z-index: 60;
	text-decoration: none;
	border: none;
}
#social-pagecover
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #333;
	z-index: 50;
	opacity: 0;
}

#social-pagecover-title
{
	font-family: 'Abel', sans-serif;
	color: white;
	font-size: 50px;
	text-align: center;
	z-index: 51;
}


/* colors */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }
    h2 {
        color: #FAEEE7;
    }
    p {
        color: #54BAB9;
    }
    a {
        color: #FAEEE7;
    }
    .top-container {
        background-color: #041C32;
    }
    .bottom-container{
        background-color: #041C32;
    }
    .name{
        color: #FAEEE7;
    }
    .subtitle{
        color: #FAEEE7;
    }
    .fa-file:hover
    {
	color: #D96098;
	text-decoration: none;
    text-shadow: 0 0 5px #D96098;
    }
    .fa-itch-io:hover
    {
	color: #D96098;
	text-decoration: none;
    text-shadow: 0 0 5px #D96098;
    }
    .fa-linkedin:hover
    {
	color: #0077B5;
	text-decoration: none;
    text-shadow: 0 0 5px #0077B5;
    }

  }
  @media (prefers-color-scheme: light) {
    body {
        background-color: #FAEEE7;
    }
    h2 {
        color: #24A19C;
    }
    p {
        color: #325288;
    }
    a {
        color: #FAEEE7;
    }
    .top-container {
        background-color: #24A19C;
    }
    .bottom-container{
        background-color: #24A19C;
    }
    .name{
        color: #FAEEE7;
    }
    .subtitle{
        color: #FAEEE7;
    }
  }
  